@font-face {
    font-family: HelveticaNeue;
    src: url(resources/helvetica-neue-medium.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
}

textarea { resize: vertical; }

p.h1 {
   font-family: HelveticaNeue, Tahoma, Georgia, Geneva, sans-serif;
 }
 

 .container{
    width:500px;
    margin:auto;
 }
 
 .form{
   width:500px;
   min-height:200px;
   font-family:HelveticaNeue, Georgia;
 }
 
 .repeat{
    width:163px;
    min-height:20px;
    float:center;
    font-family:HelveticaNeue, Georgia;
 }

.newlist{
   width:163px;
   min-height:20px;
   float:left;
   font-family:HelveticaNeue, Georgia;
}

.resetlist{
   width:163px;
   min-height:20px;
   float:right;
   font-family:HelveticaNeue, Georgia;
}

.anaglyph {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   border: none;
   font: normal 50px/normal "Chau Philomene One", Helvetica, sans-serif;
   color: rgb(51, 51, 51);
   text-align: center;
   -o-text-overflow: clip;
   text-overflow: clip;
   letter-spacing: 3px;
}
